<div class="container">
	<%= simple_form_for(@student) do |f| %>

	  <%= f.error_notification %>

	  <div class="form-inputs">
	  
	  <div class="row">
		<div class="col col-lg-4">
			<%= f.input :first_name, :label => "Nombre"%>
		</div>
		<div class="col col-lg-4">
			<%= f.input :last_name, :label => "Apellido" %>
		</div>
		<div class="col col-lg-4">
			<%= f.input :email %>
		</div>
	  </div>
	  <div class="row">
		<div class="col col-lg-4">
			<%= f.input :file_number, :label => "Legajo" %>
		</div>
		<div class="col col-lg-4">
			<%= f.input :dni %>
		</div>
		<div class="col col-lg-4">
			<% 
		cannot_select = {
		  onfocus: "this.defaultIndex=this.selectedIndex;",
		  onchange: "this.selectedIndex=this.defaultIndex;"
		} 
		%>
		
		<%= f.association :course, readonly:true, :label => "Cursada", input_html: {}.merge(cannot_select)%>	
		</div>
	  </div>
	  
	  </div>

	  <div class="form-actions">
		<%= f.button :submit, "Aceptar", class: 'btn btn-success' %>		
		<%= link_to "Volver", course_path(@student.course), class: 'btn btn-primary' %>
	  </div>
	<% end %>
</div>

