<h3>Consulta de alumno</h3>
<div class="container">
  <div class="row">
    <div class="col col-lg-4">
		<strong>Nombre:</strong> 
		<%= @student.first_name %> <%= @student.last_name %>
    </div>
    <div class="col col-lg-4">
		<strong>Dni:</strong>
		<%= @student.dni %>		
    </div>
    <div class="col col-lg-4">
		<strong>Email:</strong>
		<%= @student.email %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col col-lg-4">
		<strong>Legajo:</strong>
		<%= @student.file_number %>
    </div>

    <div class="col col-lg-4">
		<strong>Cursada:</strong>
		<%= @student.course %>
    </div>

  </div>
  <br>
	<%= link_to 'Editar', edit_student_path(@student), class: 'btn btn-primary' %> 
	<%= link_to 'Volver', course_path(@student.course), class: 'btn btn-primary' %>
</div>


