<div class="container">
	<div class="row justify-content-center">
		<div class="col-4">
			<h2>Log in</h2>

			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div class="form-inputs">
				<%= f.input :email, required: false, autofocus: true %>
				<%= f.input :password, :label => "Contraseña", required: false %>
				<%= f.input :remember_me, :label => "Recordarme", as: :boolean if devise_mapping.rememberable? %>
			  </div>

			  <div class="form-actions">
				<%= f.button :submit, "Log in", class: 'btn btn-success' %>
			  </div>
			<% end %>
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>

