<div class="container">
	<%= simple_form_for(@course) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
		<%= f.input :year, :label => "Año",:collection => @course.yearsForCombo, include_blank: false, selected: @course.year || Time.current.year %>
	  </div>

	  <div class="form-actions">
		<%= f.button :submit, "Aceptar", class: 'btn btn-success' %>
		<%= link_to 'Back', courses_path, class: 'btn btn-primary' %>
	  </div>
	<% end %>
</div>