<p id="notice"><%= notice %></p>

<h1>Notas de cursada  <%= @course %> </h1>

<% if (@tests.empty?) %>
	<p> No hay examenes asignados a esta cursada </p> 
	<p><%= link_to 'Crear Examen', new_test_path(course: @course.id)  %></p>
<% elsif (@course.empty?)%>
	<p> No hay estudiantes asignados a esta cursada </p> 
	<p><%= link_to 'Cargar Estudiantes', new_student_path(course: @course.id)  %></p>
<% else %> 

	<% @tests.each do |test| %>

	<h3 class="test_data"> 
		
		<a data-toggle="collapse" href="#collapse<%=test.id %>" role="button" aria-expanded="false" aria-controls="collapse<%=test.id %>">
		<%=test.name %>
		</a>
		<span class="additional_data"> Fecha: <%=test.date %></span>
		
	</h3>
	<div class="collapse" id="collapse<%=test.id %>">
	<table class="table table-striped table-bordered results-table">
	  <thead>
		<tr>
		  <th>Legajo</th>
		  <th>Alumno</th>
		  <th>Nota</th>
		  <th>Resultado</th>
		</tr>
	  </thead>

	  <tbody>
		<% if (test.grades.length > 0) %>
			<% test.grades.each do |grade| %>
		  <tr>
			<td><%= grade.student.file_number %></td>
			
			<td><%= grade.student %></td>
			<td><%= grade.grade %></td>
			<td><%= grade.result %></td>
					
		  </tr>
		  <% end %>
		<% end %>
	  </tbody>
	</table>

	<table class="table table-striped table-bordered results-table">
	  <thead>
		<tr>
		  <th>Aprobados</th>
		  <th>Desaprobados</th>
		  <th>Ausentes</th>
		  <th>Porcentaje de aprobación</th>
		</tr>
	  </thead>

	  <tbody>
		  <tr>
			<td><%= test.ammount_passed %></td>
			<td><%= test.ammount_failed %></td>
			<td><%= test.ammount_absent %></td>
			<td><%= test.pass_rate %></td>
		  </tr>
	  </tbody>
	</table>
	</div>
	<% end %>
<% end %>



