
<h1>Cursadas  <%= link_to new_course_path do %><%=fa_icon "plus-circle", title: "Agregar Cursada"%><% end %> </h1>

<table class="table table-striped table-bordered results-table">
  <thead>
    <tr>
      <th>Año</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td width="60%"><%= course.year %></td>
		<td><%= link_to "Ver inscriptos", course %></td>
		<td><%= link_to "Ver Notas", grades_course_path(course) %></td>		
        <td>
        <%= link_to edit_course_path(course) do %><%=fa_icon "edit lg fw", title: "Editar"%><% end %>
        <%= link_to course, method: :delete, data: { confirm: '¿Esta seguro de querer eliminar el curso?' } do %><%=fa_icon "trash lg fw", title: "Borrar"%><% end %>
		</td>
		        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


