<p>
  <h1>Cursada <%= @course.year %></h1>  
</p>

<% if (@course.empty?) %>
<p> No hay estudiantes asignados a esta cursada </p> 
<p><%= link_to 'Cargar Estudiantes', new_student_path(course: @course.id)  %></p>
<% else %>
<table class="table table-striped table-bordered results-table">
  <thead>
    <tr>
      <th colspan="2" class="h4">Estudiantes inscriptos <%= link_to new_student_path(course: @course.id)  do %><%=fa_icon "plus-circle lg", title: "Nuevo estudiante"%><% end %></th>	  
	  
    </tr>
  </thead>

  <tbody>
    <% @course.students.each do |student| %>
      <tr>
        <td width="80%"><%= student %></td>
        <td><%= link_to student  do %><%=fa_icon "eye lg fw", title: "Ver"%><% end %>
        <%= link_to edit_student_path(student) do %><%=fa_icon "edit lg fw", title: "Editar"%><% end %>
        <%= link_to student, method: :delete, data: { confirm: 'Esta seguro de querer eliminar el alumno' } do %><%=fa_icon "trash lg fw", title: "Borrar"%><% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %> 

