



@media (min-width: 576px){
.navbar-collapse {
    max-width: 540px;
}
}

@media (min-width: 768px){

.navbar-collapse {
    max-width: 720px;
}
}

@media (min-width: 992px){
.navbar-collapse {
    max-width: 960px;
}
}

@media (min-width: 1200px){
.navbar-collapse {
    max-width: 1140px;
}
}

.navbar-collapse {
    margin-right: auto;
    margin-left: auto;
}


#content{
  padding-top: 5em;

}

.container {
  padding-top: 2em;
}
/*
.container-fluid {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

.test_data{
	padding-top:1rem;
}


.form-control {
	width:inherit !important;
	line-height:inherit !important;
	font-size:inherit !important;
}

.additional_data{
	font-size: 0.6em;
    top: .6em;
    position: relative;
    align-content: center;
    float: right;	
}
    
.help-block{
	color:orange;
	
}

a:hover:not(.btn){
	text-decoration:none !important;
	background-color:unset !important; 		
}

a:not(:hover){
	color:#007bff !important; 		
}

a.btn:not(:hover){
	color:#FFFFFF !important; 		
}

#ul-login{
	color:white;
	
}


