<div class="container">
	<%= simple_form_for(@test) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	  
		<div class="row">
			<div class="col col-lg-4">
				<%= f.input :name, :label => "Nombre de Instancia"%>
			</div>
			<div class="col col-lg-4">
				<%= f.input :date, :label => "Fecha de Evaluacion" %>
			</div>
	
		</div>
		
		<div class="row">
			<div class="col col-lg-4">
				<%= f.input :min_grade, :label => "Nota minima de aprobación"%>
			</div>
			<div class="col col-lg-4">
				<%= f.association :course, :label => "Cursada" %>
			</div>
	
		</div>
	  

	  </div>

	  <div class="form-actions">
		<%= f.button :submit, "Aceptar", class: 'btn btn-success' %>		
		<%= link_to "Volver", tests_path, class: 'btn btn-primary' %>
	  </div>
	<% end %>
 </div>

