<p id="notice"><%= notice %></p>

<h1> Notas de <%=@test.name %> <span class="additional_data"> Fecha: <%=@test.date %></span></h1>


<% if (@course.empty?) %>
	<p> No hay estudiantes asignados a esta cursada </p> 
	<p><%= link_to 'Cargar Estudiantes', new_student_path(course:@course.id) %></p>
<% else %>
	<%= form_for @test do |f| %>
	<table class="table table-striped table-bordered results-table">
	  <thead>
		<tr>
		  <th>Legajo</th>
		  <th>Alumno</th>
		  <th>Nota</th>
		</tr>
	  </thead>

	  <tbody>		
		<%= f.fields_for :grades do |grade| %>
			<tr>
			  <td><%= grade.object.student.file_number %></td>
			  <td><%= grade.object.student %></td>
			  <td>
				<div class="field">
				  <%= grade.number_field :grade, class: 'form-control', step: :any %>
				  <%= grade.hidden_field :student_id, value: grade.object.student.id %>
				  <%= grade.hidden_field :test_id, value: grade.object.test.id %>
				</div>
			  </td>
			</tr>
		<% end %>
		
	  </tbody>
	</table>
	
	<div class="actions">
		<%= f.submit "Actualizar notas", class: 'btn btn-success' %>
	  </div>
    <% end %>

<% end %> 





