<h1>Examenes <%= link_to new_test_path do %><%=fa_icon "plus-circle", title: "Agregar Examen"%><% end %></h1>

<table class="table table-striped table-bordered results-table">
  <thead>
    <tr>
      <th>Instancia</th>
	  <th>Cursada</th>
      <th>Fecha</th>
      <th>Aprueba con</th>      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.name %></td>
		<td><%= test.course %></td>
        <td><%= test.date %></td>
        <td><%= test.min_grade %></td>        
        <td><%= link_to "Cargar Notas", grades_test_path(test) %></td>		
        <td>		
			<%= link_to edit_test_path(test) do %><%=fa_icon "edit lg fw", title: "Editar"%><% end %>
			<%= link_to test, method: :delete, data: { confirm: '¿Esta seguro de querer eliminar el examen?' } do %><%=fa_icon "trash lg fw", title: "Borrar"%><% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

