<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @test.date %>
</p>

<p>
  <strong>Min grade:</strong>
  <%= @test.min_grade %>
</p>

<p>
  <strong>Course:</strong>
  <%= @test.course %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
