<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">


  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	<% if user_signed_in? %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Cursadas", courses_path, class: "nav-link" %>
      </li>
	  <li class="nav-item">
        <%= link_to "Examenes", tests_path, class: "nav-link" %>
      </li>

    </ul>
	<% end %>
    <ul class="navbar-nav ml-auto" id="ul-login">
      
        <% if user_signed_in? %>
			<li class="nav-item">
	
			  <%= link_to 'Editar Cuenta', edit_user_registration_path, :class => 'nav-link' %> 
			</li>
			<li class="nav-item">
			  <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
			</li>
			<% else %>
			<li class="nav-item">
			  <%= link_to "Registrarse", new_user_registration_path, :class => 'nav-link'  %> 
			</li>
			  <li class="nav-item">
			  <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
			</li>
		<% end %>
    </ul>
  </div>
</nav>