<!DOCTYPE html>
<html>
  <head>
    <title>TTPSRuby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'default', media: 'all' %>
  </head>

  <body>
	<%= render 'layouts/navbar' %>	
    <div id="content" class="container">
	
			<% if notice %>
			  <p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
			  <p class="alert alert-danger"><%= alert %></p>
			<% end %>
			
			<%= yield %>

    </div>
  </body>
</html>
